@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --main-color: #443;
  --border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  --border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
  --border: 0.2rem solid var(--main-color);
  --border-hover: 0.2rem dashed var(--main-color);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
/* body{
    background:url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1776&q=80);
  background-size:cover;
  background-position:right;
  background-attachment:fixed;
} */

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 5%;
  /* border: 3px solid rgb(31, 31, 50); */
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  color: rgb(72, 61, 83);
  font-weight: 600;
  background: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 5%;
}

.btn,
.logo {
  color: rgb(72, 61, 83);
  font-size: 2.7rem;

  margin: 0;

  color: rgba(225, 225, 225, 0.01);
  background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

.header .logo {
  padding-left: 0.5rem;
}
.header .navbar {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(72, 61, 83);
}

.navbar a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: crimson;
  height: 1px;
}

.navbar a {
  transition: all 1s;
}

.navbar a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
.navbar a:hover {
  color: crimson;
  z-index: 1;
}
.navbar a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s;
}

#menu-btn {
  font-size: 3rem;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}

/* ---------home section---------- */
.home{
    
    min-height: 100vh;
    padding-top: 12rem;
    /* background: url(../image/img-5.png) no-repeat; */
    background-position: center;
    background-image: linear-gradient(35deg,rgba(253,158,253,.5),rgba(136,128,248,.5)),url(https://vinaykumar1801.github.io/static/media/background.0e65b7332e7aa24796ed.jpg);
    background-size: cover;
    width: 100%;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    /* height: 70%; */
    flex:1 1 42rem;
    /* border: 1px solid red; */
    height:35rem;
}
/* --------------------------------------------------------------- */
.home .row .content h1 {
    font-size: 45px;
    color: rgb(72, 61, 83);
    /* font-family: sans-serif; */
}
  
  .inner-headings {
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .inner-headings span {
    position: relative;
    color: crimson;
    /* color:var(--main-color); */
    animation: animation 10s ease infinite;
  }
  
  @keyframes animation {
    0%,
    100% {
      top: 0;
    }
    20% {
      top: 0;
    }
    25% {
      top: -50px;
    }
    45% {
      top: -50px;
    }
    50% {
      top: -100px;
    }
    70% {
      top: -100px;
    }
    75% {
      top: -150px;
    }
    95% {
      top: -150px;
    }
  }
  
/* -------------------------------------------------------------------- */


/* ----------------------------------------------------------------- */

.home .row .image{
    flex:1 1 42rem;
    /* text-align: center; */
}

.home .row .image img{
    width: 80%;
    height:50rem;
    animation:aboutImage 4s linear infinite;
}

@keyframes aboutImage {
    0%, 100%{
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }
    50%{
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

@media (max-width:991px) {
    .home .row .image img{
        width: 70%;
        height:50rem;
        animation:aboutImage 4s linear infinite;
    }
  }
/* ---------- --------------------------------------------------------*/

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-7rem);
    }
}

.name{
  font-family: 'Righteous', cursive;
  background:url('https://media.giphy.com/media/FE0WTM8BG754I/giphy.gif') center center no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:9rem;
  letter-spacing:8px;
  background-size:cover;
  margin:0px;
  color:transparent;
}




/* ============icons */
ul {
    /* border: 1px solid red; */
    position:absolute;
    top:80%;
    left:19%;
    transform: translate(-50%, -50%);
    margin:0;
    /* margin-top: 300px; */
    padding: 20px;
    display:flex;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  
  ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  ul li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }
  
  ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
  }
  
  ul li:nth-child(2) a:hover .fab {
    color: #00aced;
  }
  
  ul li:nth-child(3) a:hover .fab {
    color: #dd4b39;
  }
  
  ul li:nth-child(4) a:hover .fab {
    color: #007bb6;
  }
  
  ul li:nth-child(5) a:hover .fab {
    color: #e4405f;
  }


  @media (max-width:991px) {
    ul {
        /* border: 1px solid red; */
        position:absolute;
        top:80%;
        left:50%;
        transform: translate(-50%, -50%);
        margin:0;
        padding: 20px;
        display:flex;
      }
  }

  .heading{
    font-size: 9rem;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* color:var(--main-color); */
    color: rgb(72, 61, 83);
    font-size: 3rem;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex:1 1 42rem;
}

.about .row .image img{
    width: 100%;
    animation:aboutImage 4s linear infinite;
}

@keyframes aboutImage {
    0%, 100%{
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }
    50%{
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

.about .row .content{
    flex:1 1 42rem;
}

.about .row .content .title, .icons h3{
    /* color: #85afc6; */
    font-size: 2.7rem;
    line-height: 1.8;
    font-family: 'oswald', sans-serif;  
    background-size: 200%;
    background-image: none;
    background-image: linear-gradient(45deg,#ef7cae 0%,#ff709d 35%,#00c9d3 66%,#00c9d3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: glow 9s linear infinite;
    animation: glow 9s linear infinite;
  
}
@-webkit-keyframes glow {
    0% {
      background-position: 0% 43%;
    }
  
    50% {
      background-position: 100% 58%;
    }
  
    100% {
      background-position: 0% 43%;
    }
  }
  
  @keyframes glow {
    0% {
      background-position: 0% 43%;
    }
  
    50% {
      background-position: 100% 58%;
    }
  
    100% {
      background-position: 0% 43%;
    }
  }

.about .row .content p{
    /* color:var(--main-color); */
    font-size: 1.6rem;
    line-height: 1.7;
    color: #332a2a;
    font-weight: 500;
    /* padding:1rem 0; */
}

.about .row .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-top: 3rem;
}

.about .row .content .icons-container .icons{
    flex:1 1 15rem;
    padding:1.5rem;
    text-align: center;
    border: 3px solid rgb(27, 142, 165);
    border-radius: var(--border-radius);
}

.about .row .content .icons-container .icons img{
    height: 5rem;
}

.about .row .content .icons-container .icons h3{
    font-size: 1.7rem;
    padding-top: 1rem;
    color:var(--main-color);
}