@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --main-color: #443;
  --border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  --border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
  --border: 0.2rem solid var(--main-color);
  --border-hover: 0.2rem dashed var(--main-color);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
/* body{
    background:url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1776&q=80);
  background-size:cover;
  background-position:right;
  background-attachment:fixed;
} */

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 5%;
  /* border: 3px solid rgb(31, 31, 50); */
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  color: rgb(72, 61, 83);
  font-weight: 600;
  background: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0.5rem 5%;
}

.btn,
.logo {
  color: rgb(72, 61, 83);
  font-size: 2.7rem;

  margin: 0;

  color: rgba(225, 225, 225, 0.01);
  background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

.header .logo {
  padding-left: 0.5rem;
}
.header .navbar {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(72, 61, 83);
}

.navbar a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: crimson;
  height: 1px;
}

.navbar a {
  transition: all 1s;
}

.navbar a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
.navbar a:hover {
  color: crimson;
  z-index: 1;
}
.navbar a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s;
}

#menu-btn {
  font-size: 3rem;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}

/* ---------home section---------- */
.home{
    
    min-height: 100vh;
    padding-top: 12rem;
    /* background: url(../image/img-5.png) no-repeat; */
    background-position: center;
    background-image: linear-gradient(35deg,rgba(253,158,253,.5),rgba(136,128,248,.5)),url(https://vinaykumar1801.github.io/static/media/background.0e65b7332e7aa24796ed.jpg);
    background-size: cover;
    width: 100%;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    /* height: 70%; */
    flex:1 1 42rem;
    /* border: 1px solid red; */
    height:35rem;
}
/* --------------------------------------------------------------- */
.home .row .content h1 {
    font-size: 45px;
    color: rgb(72, 61, 83);
    /* font-family: sans-serif; */
}
  
  .inner-headings {
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .inner-headings span {
    position: relative;
    color: crimson;
    /* color:var(--main-color); */
    animation: animation 10s ease infinite;
  }
  
  @keyframes animation {
    0%,
    100% {
      top: 0;
    }
    20% {
      top: 0;
    }
    25% {
      top: -50px;
    }
    45% {
      top: -50px;
    }
    50% {
      top: -100px;
    }
    70% {
      top: -100px;
    }
    75% {
      top: -150px;
    }
    95% {
      top: -150px;
    }
  }
  
/* -------------------------------------------------------------------- */


/* ----------------------------------------------------------------- */

.home .row .image{
    flex:1 1 42rem;
    /* text-align: center; */
}

.home .row .image img{
    width: 80%;
    height:45rem;
    animation:aboutImage 4s linear infinite;
}

@keyframes aboutImage {
    0%, 100%{
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }
    50%{
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

@media (max-width:991px) {
    .home .row .image img{
        width: 70%;
        height:50rem;
        animation:aboutImage 4s linear infinite;
    }
  }
/* ---------- --------------------------------------------------------*/

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-7rem);
    }
}

.name{
  font-family: 'Righteous', cursive;
  background:url('https://media.giphy.com/media/FE0WTM8BG754I/giphy.gif') center center no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:6rem;
  letter-spacing:8px;
  background-size:cover;
  margin:0px;
  color:transparent;
}




/* ============icons */
ul {
    /* border: 1px solid red; */
    position:absolute;
    top:80%;
    left:19%;
    transform: translate(-50%, -50%);
    margin:0;
    /* margin-top: 300px; */
    padding: 20px;
    display:flex;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  
  ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  ul li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }
  
  ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
  }
  
  ul li:nth-child(2) a:hover .fab {
    color: #00aced;
  }
  
  ul li:nth-child(3) a:hover .fab {
    color: #dd4b39;
  }
  
  ul li:nth-child(4) a:hover .fab {
    color: #007bb6;
  }
  
  ul li:nth-child(5) a:hover .fab {
    color: #e4405f;
  }


  @media (max-width:991px) {
    ul {
        /* border: 1px solid red; */
        position:absolute;
        top:80%;
        left:50%;
        transform: translate(-50%, -50%);
        margin:0;
        padding: 20px;
        display:flex;
      }
  }

  .heading{
    font-size: 9rem;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* color:var(--main-color); */
    color: rgb(72, 61, 83);
    font-size: 3rem;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex:1 1 42rem;
}

.about .row .image img{
    width: 100%;
    animation:aboutImage 4s linear infinite;
}

@keyframes aboutImage {
    0%, 100%{
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }
    50%{
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

.about .row .content{
    flex:1 1 42rem;
}

.about .row .content .title,  .text h2{
    /* color: #85afc6; */
    font-size: 2.4rem;
    line-height: 1.8;
    font-family: 'oswald', sans-serif;  
    background-size: 200%;
    background-image: none;
    background-image: linear-gradient(45deg,#ef7cae 0%,#ff709d 35%,#00c9d3 66%,#00c9d3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: glow 9s linear infinite;
    animation: glow 9s linear infinite;
  
}
.icons h3{
  font-size: 1.2rem;
  font-family: 'oswald', sans-serif;  
    background-size: 200%;
    background-image: none;
    background-image: linear-gradient(45deg,#ef7cae 0%,#ff709d 35%,#00c9d3 66%,#00c9d3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: glow 9s linear infinite;
    animation: glow 9s linear infinite;
    line-height: 1.5;
}
@-webkit-keyframes glow {
    0% {
      background-position: 0% 43%;
    }
  
    50% {
      background-position: 100% 58%;
    }
  
    100% {
      background-position: 0% 43%;
    }
  }
  
  @keyframes glow {
    0% {
      background-position: 0% 43%;
    }
  
    50% {
      background-position: 100% 58%;
    }
  
    100% {
      background-position: 0% 43%;
    }
  }

.about .row .content p{
    /* color:var(--main-color); */
    font-size: 1.4rem;
    line-height: 1.7;
    color: #332a2a;
    font-weight: 500;
    /* padding:1rem 0; */
}

.about .row .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-top: 3rem;
}

.about .row .content .icons-container .icons{
    flex:1 1 15rem;
    padding:1.5rem;
    text-align: center;
    border: 3px solid rgb(27, 142, 165);
    border-radius: var(--border-radius);
}

.about .row .content .icons-container .icons img{
    height: 5rem;
}

.about .row .content .icons-container .icons h3{
    font-size: 1.7rem;
    padding-top: 1rem;
    color:var(--main-color);
}

/* -----skill section-- */
.review{
    background-position: center;
    background-image: linear-gradient(35deg,rgba(253, 158, 253, 0.709),rgba(136,128,248,.5)),url(https://vinaykumar1801.github.io/static/media/background.0e65b7332e7aa24796ed.jpg);
    background-size: cover;
    width: 100%;
}
.circle{
    /* border: 1px solid black; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* padding: 50px 100px 0; */
    padding: 50px 10px 10px 10px;
}
@media (max-width:991px){
    .circle{
        display: contents;
    }
    .circle .text{
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(0, 0, 0);
    }
}
.circle .img{
    padding-right: 30px;
}
.circle .text{
    /* margin-left: -30px; */
    /* border: 1px solid rgb(0, 0, 0); */
    width: 50%;
    
}
.text h2{
    margin-top: 8%;
    padding-left: 20px;
    font-size: 2.7rem;
    line-height: 1.7;
    color: #85afc6;
    font-weight: 500;
}
.text p{
    /* margin-top: 10%; */
    padding: 10px 10px 0px 20px;
    font-size: 1.5rem;
    line-height: 1.7;
    color: rgb(50, 41, 58);
    /* color: #332a2a; */
    font-weight: 500;
    
}
.text p span{
    color: #f09053;
}


.circle .img{
    /* border: 1px solid red; */
    position: relative;
    width: 500px;
    height: 500px;
    /* background: radial-gradient(520px, #f08f538c, transparent 50%); */
    background: radial-gradient(520px, #8c61db8a, transparent 50%);
    /* background: radial-gradient(520px, #e4adda8a, transparent 50%); */
    margin-top: -20px;
}
.email-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social-icons{
    height: 100%;
    animation: rotation 60s linear infinite;
}
@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
}
.social-icons img{
    position: absolute;
}
.social-icons img:nth-child(1){
    top: 0;
    left: 42%;
}
.social-icons img:nth-child(2){
    top: 25%;
    right: 0;
}
.social-icons img:nth-child(3){
    top: 70%;
    left: 60%;
}
.social-icons img:nth-child(4){
    top: 25%;
    left: 0;
}
.social-icons img:nth-child(5){
    top: 70%;
    left: 10%;
}

/* ------------------project--- */

.projcard-container {
    font-family: 'Open Sans', arial, sans-serif;
	margin: 50px 0;
    font-size: 14px;
    color: #333;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
	box-sizing: border-box;
}
.projcard-container {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.projcard {
	position: relative;
	width: 100%;
	height: 300px;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #fff;
	border: 2px solid #ddd;
	font-size: 18px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
	box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
	transform: translate(0px, -3px);
}
.projcard::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(-70deg, #424242, transparent 50%);
	opacity: 0.07;
}
.projcard:nth-child(2n)::before {
	background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-innerbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.projcard-img {
	position: absolute;
	height: 300px;
	width: 400px;
	top: 0;
	left: 0;
	transition: transform 0.2s ease;
}
.projcard:nth-child(2n) .projcard-img {
	left: initial;
	right: 0;
}
.projcard:hover .projcard-img {
	transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
	width: 70px;
}
.projcard-textbox {
	position: absolute;
	top: 7%;
	bottom: 7%;
	left: 430px;
	width: calc(100% - 470px);
	font-size: 17px;
}
.projcard:nth-child(2n) .projcard-textbox {
	left: initial;
	right: 430px;
}
.projcard-textbox::before,
.projcard-textbox::after {
	content: "";
	position: absolute;
	display: block;
	background: #ff0000bb;
	background: #fff;
	top: -20%;
	left: -55px;
	height: 140%;
	width: 60px;
	transform: rotate(8deg);
}
.projcard:nth-child(2n) .projcard-textbox::before {
	display: none;
}
.projcard-textbox::after {
	display: none;
	left: initial;
	right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
	display: block;
}
.projcard-textbox * {
	position: relative;
}
.projcard-title {
	font-family: 'Voces', 'Open Sans', arial, sans-serif;
	font-size: 24px;
}
.projcard-subtitle {
	font-family: 'Voces', 'Open Sans', arial, sans-serif;
	color: #888;
}
.projcard-bar {
	left: -2px;
	width: 50px;
	height: 5px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #424242;
	transition: width 0.2s ease;
}
.projcard-blue .projcard-bar { background-color: #0088FF; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #0088FF, transparent 50%); }
.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #0088FF, transparent 50%); }
.projcard-red .projcard-bar { background-color: #D62F1F; }
.projcard-red::before { background-image: linear-gradient(-70deg, #D62F1F, transparent 50%); }
.projcard-red:nth-child(2n)::before { background-image: linear-gradient(-250deg, #D62F1F, transparent 50%); }
.projcard-green .projcard-bar { background-color: #40BD00; }
.projcard-green::before { background-image: linear-gradient(-70deg, #40BD00, transparent 50%); }
.projcard-green:nth-child(2n)::before { background-image: linear-gradient(-250deg, #40BD00, transparent 50%); }
.projcard-yellow .projcard-bar { background-color: #F5AF41; }
.projcard-yellow::before { background-image: linear-gradient(-70deg, #F5AF41, transparent 50%); }
.projcard-yellow:nth-child(2n)::before { background-image: linear-gradient(-250deg, #F5AF41, transparent 50%); }
.projcard-orange .projcard-bar { background-color: #FF5722; }
.projcard-orange::before { background-image: linear-gradient(-70deg, #FF5722, transparent 50%); }
.projcard-orange:nth-child(2n)::before { background-image: linear-gradient(-250deg, #FF5722, transparent 50%); }
.projcard-brown .projcard-bar { background-color: #C49863; }
.projcard-brown::before { background-image: linear-gradient(-70deg, #C49863, transparent 50%); }
.projcard-brown:nth-child(2n)::before { background-image: linear-gradient(-250deg, #C49863, transparent 50%); }
.projcard-grey .projcard-bar { background-color: #424242; }
.projcard-grey::before { background-image: linear-gradient(-70deg, #424242, transparent 50%); }
.projcard-grey:nth-child(2n)::before { background-image: linear-gradient(-250deg, #424242, transparent 50%); }
.projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
.projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
.projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
.projcard-description {
	z-index: 10;
	font-size: 15px;
	color: #424242;
	height: 125px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.projcard-tagbox {
	position: absolute;
	bottom: 3%;
	font-size: 14px;
	cursor: default;
	user-select: none;
	pointer-events: none;
}
.projcard-tag {
	display: inline-block;
	background: #E0E0E0;
	color: #777;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
	margin-right: 20px;
	cursor: default;
	user-select: none;
	transition: color 0.2s;
}
.projcard-tag::before {
	content: '';
	position: absolute;
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	height: 6px;
	left: 10px;
	width: 6px;
	top: 10px;
}
.projcard-tag::after {
	content: '';
	position: absolute;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #E0E0E0;
	border-top: 13px solid transparent;
	right: -10px;
	top: 0;
}