@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --main-color: #443;
  --border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  --border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
  --border: 0.2rem solid var(--main-color);
  --border-hover: 0.2rem dashed var(--main-color);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
/* body{
    background:url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1776&q=80);
  background-size:cover;
  background-position:right;
  background-attachment:fixed;
} */

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 5%;
  /* border: 3px solid rgb(31, 31, 50); */
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  color: rgb(72, 61, 83);
  font-weight: 600;
  background: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 5%;
}

.btn,
.logo {
  color: rgb(72, 61, 83);
  font-size: 2.7rem;

  margin: 0;

  color: rgba(225, 225, 225, 0.01);
  background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

.header .logo {
  padding-left: 0.5rem;
}
.header .navbar {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(72, 61, 83);
}

.navbar a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: crimson;
  height: 1px;
}

.navbar a {
  transition: all 1s;
}

.navbar a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
.navbar a:hover {
  color: crimson;
  z-index: 1;
}
.navbar a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s;
}

#menu-btn {
  font-size: 3rem;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}
